/* src/styles.css */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

/* Stile base per distanziare il contenuto dalla navbar */
body {
  padding-top: 70px;
  background-color: #f8f9fa;
}
