<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">SportShop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/prodotti" routerLinkActive="active">Prodotti</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <ng-container *ngIf="!isLoggedIn">
          <li class="nav-item">
            <button class="btn btn-outline-light btn-sm" (click)="login()">Accedi</button>
          </li>
        </ng-container>

        <ng-container *ngIf="isLoggedIn">
          <li class="nav-item">
            <a class="nav-link" routerLink="/carrello" routerLinkActive="active">
              <i class="bi bi-cart-fill"></i> Carrello
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;">
              Ciao, {{ username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" routerLink="/profilo">Profilo</a></li>
              <li><a class="dropdown-item" routerLink="/ordini">I miei Ordini</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><button class="dropdown-item" (click)="logout()">Esci</button></li>
            </ul>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
