.profile-card {
  width: 100%;
  max-width: 500px;
  background: white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.profile-card h2 {
  color: var(--secondary-color);
  font-weight: 700;
}
