.product-image-container {
  background-color: #f1f2f6;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.product-title {
  color: var(--secondary-color);
  font-weight: 800;
}

.product-price {
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: bold;
}

dt { color: #7f8c8d; }
dd { font-weight: 500; }

@media (max-width: 768px) {
  .product-image-container {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    min-height: 250px;
  }
}
